.billboard {
  height: 233px;
  width: 967px;
  background-size: cover;
}

.message-bubble {
  color: #fff;
  font-size: 12px;
  padding: 10px;
  width: 214px;
  height: fit-content;
}

.fit-content {
  width: fit-content;
  padding: 5px 10px;
  margin-top: 10px;
}

.disclaimer-text {
  font-size: 7px;
  font-weight: bold;
}

.footer {
  right: 91px;
  position: absolute;
  bottom: 0px;
}

.bubble {
  width: fit-content;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
